*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

#card{
    border-radius: 10px;
    height: 450px;
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

#card img{
height: 50%;
width: 80%;
border-radius: 50%;
object-fit: cover;
object-position: center;

}

#card h1{
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0;
}

#card h5{
    font-size: 25px;
    color: red;
    margin: 20px;
}

#card button{
    height: 30px;
    width: 90px;
    border-radius: 4px;
    background-color: #3796ee;
    border: none;
    color: white;
    margin: 10px;
    cursor: pointer;
}

#card #Unfollow{
    background-color: #dadada;
    color: black;
}