*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    position: absolute;

}

 

#storiya{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden;
     
}
 
#storiya::-webkit-scrollbar{
    display: none;
}

.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: conic-gradient(
        #feda75, #fa7e1e, #d62976,
        #962fbf, #4f5bd5, #feda75
      );
     padding: 4px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     display: inline-block;
     margin-right: 10px;

     
}

.story img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover; 
    background-position: center;
    display: none;
    border-radius: 10px;
}

